{{#extend "header"}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <style>
        #map {
            width: 80%;
            height: 600px;
        }
    </style>
{{/extend}}

<div id="map"></div>
<div>Gesuchter Straßenname: <span class="js--streetname"></span></div>
<div>Deine Punkte: <span class="js--points"></span></div>
<div>Runde <span class="js--round"></span> von <span class="js--round-total"></span></div>
<button onclick="submitGuess()">Submit</button>
<script>
    const cornerTopLeft = L.latLng(52.673639351743326, 13.019099490676352);
    const cornerBottomRight = L.latLng(52.34254034713163, 13.766007272821431);
    const bounds = L.latLngBounds(cornerTopLeft, cornerBottomRight);
    const map = L.map('map', { minZoom: 11,
        maxBoundsViscosity: 1.0 }).fitBounds([[52.673639351743326, 13.019099490676352], [52.34254034713163, 13.766007272821431]], 11);
    map.setMaxBounds(bounds)
    let currentGuess;
    map.on('click', function(e) {
        console.log(e.latlng);
        if (currentGuess !== undefined) {
            map.removeLayer(currentGuess);
        }
        const marker = L.marker([e.latlng.lat,e.latlng.lng]);
        currentGuess = marker;
        marker.addTo(map);
    });
    L.tileLayer('https://tiles.wmflabs.org/osm-no-labels/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    function getNextRound() {
        fetch("/api/game").then(response => response.json()).then(json => {
            document.querySelector('.js--streetname').innerText = json.streetName;
            document.querySelector('.js--points').innerText = json.currentPoints;
            document.querySelector('.js--round').innerText = json.round;
            document.querySelector('.js--round-total').innerText = json.totalRounds;
        })
    }
    function submitGuess() {
        fetch('/api/game', {
            method: 'POST',
            body: JSON.stringify(currentGuess)
        }).then(response => response.json()).then(json => {
            document.querySelector('.js--streetname').innerText = json.streetName;
            document.querySelector('.js--points').innerText = json.currentPoints;
            document.querySelector('.js--round').innerText = json.round;
            document.querySelector('.js--round-total').innerText = json.totalRounds;
        })
    }
    getNextRound();
</script>