{{#extend "header"}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <link rel="stylesheet" href="css/game.css">
{{/extend}}

<div id="map"></div>
<footer>
    <div class="game__streetname-box"><div class="game__streetname"><div>Gesuchte Straße:</div><div class="streetname js--streetname"></div></div></div>
    <div class="footer__data">
        <div>Punkte: <span class="js--points footer__number">0</span></div>
        <div>Runde: <span class="js--round footer__number">0</span>/<span class="js--round-total">0</span></div>
    </div>
    <button class="game__submit js--submit hidden" onclick="submitGuess()">Submit your guess!</button>
    <button class="game__submit js--next hidden" onclick="getNextRound()">Next round!</button>
    <button class="game__submit js--loading hidden" disabled>Loading...</button>
</footer>
<script>
    let canMakeNewGuess = true;
    const submitButton = document.querySelector('.js--submit');
    const nextButton = document.querySelector('.js--next');
    const loadingButton = document.querySelector('.js--loading');
    const cornerTopLeft = L.latLng(52.673639351743326, 13.019099490676352);
    const cornerBottomRight = L.latLng(52.34254034713163, 13.766007272821431);
    const bounds = L.latLngBounds(cornerTopLeft, cornerBottomRight);
    const map = L.map('map', { minZoom: 11,
        maxBoundsViscosity: 1.0 }).fitBounds([[52.673639351743326, 13.019099490676352], [52.34254034713163, 13.766007272821431]], 11);
    map.setMaxBounds(bounds)
    let currentGuess;
    map.on('click', function(e) {
        if (canMakeNewGuess) {
            if (currentGuess !== undefined) {
                map.removeLayer(currentGuess);
            }
            const marker = L.marker([e.latlng.lat,e.latlng.lng]);
            currentGuess = marker;
            marker.addTo(map);
            submitButton.classList.remove('hidden');
        }
    });
    L.tileLayer('https://tiles.wmflabs.org/osm-no-labels/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    const roundElements = [];

    function getNextRound() {
        nextButton.classList.add('hidden');
        loadingButton.classList.remove('hidden');
        if (currentGuess !== undefined) {
            map.removeLayer(currentGuess);
        }
        for (const element of roundElements) {
            map.removeLayer(element);
        }
        fetch('/api/game').then(response => response.json()).then(json => {
            document.querySelector('.js--streetname').innerText = json.streetName;
            document.querySelector('.js--points').innerText = json.currentPoints;
            document.querySelector('.js--round').innerText = json.round;
            document.querySelector('.js--round-total').innerText = json.totalRounds;
            loadingButton.classList.add('hidden');
            canMakeNewGuess = true;
        })
    }
    function submitGuess() {
        canMakeNewGuess = false;
        submitButton.classList.add('hidden');
        loadingButton.classList.remove('hidden');
        fetch('/api/game', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(currentGuess._latlng)
        }).then(response => response.json()).then(json => {
            document.querySelector('.js--streetname').innerText = json.streetName;
            document.querySelector('.js--points').innerText = json.currentPoints;
            document.querySelector('.js--round').innerText = json.round;
            document.querySelector('.js--round-total').innerText = json.totalRounds;

            const geoJson = L.geoJson(json.streetPolygons, {
                "color": "#ff7800",
                "weight": 5,
                "opacity": 0.65
            });
            geoJson.addTo(map);
            roundElements.push(geoJson);

            console.log(json.closestCoordinate);
            const marker = L.marker([json.closestCoordinate[1], json.closestCoordinate[0]]);
            marker.addTo(map);
            roundElements.push(marker);
            loadingButton.classList.add('hidden');
            nextButton.classList.remove('hidden');
        })
    }
    getNextRound();
</script>
