{{#extend "header"}}
{{/extend}}

<h1><s>Spielregeln</s> Spielablauf</h1>
<ol>
    <li>Sie bekommen einen zufälligen Straßennamen angezeigt.</li>
    <li>Sie wählen auf der Karte Ihre Vermutung aus.</li>
    <li>Je nach Genauigkeit bekommen Sie Punkte zugeteilt.</li>
</ol>
