<main>
    <div>
        <h2>New Game</h2>
        <span>How to play</span>
    </div>
    <div>
        <h2>High scores</h2>
        <div>
            {{#each games}}
                <div>{{this.id}}</div>
            {{/each}}
        </div>
    </div>
    <div>
        <h2>Most viewed</h2>
    </div>
    <div>
        <h2>Favorites</h2>
        <div></div>
    </div>
</main>
