<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess it's Berlin?</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{{{body}}}
<nav>
    <h2>Navigation</h2>
    <ul class="navlink">
        <li><a href="index.html">Hauptseite</a></li>
        <li><a href="register.html">Registrierung</a></li>
        <li><a href="howto.html">Spielablauf</a></li>
        <li><a href="highscore.html">Highscores</a></li>
        <li>{{ username }}</li>
    </ul>
</nav>
</body>
</html>

<!doctype html>
