<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess it's Berlin?</title>
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{{block "header"}}}
</head>
<body>
<header>
    <div class="header__body">
        <span class="header__title">Guess it's Berlin?!</span>
        <span>{{ username }}</span>
    </div>
</header>
{{{body}}}
</body>
</html>

<!doctype html>
