body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #a9cbb7;
    padding: 0.75rem;
}

.header__body {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.header__title {
    font-weight: bold;
}

main {
    padding: 0.5rem;
}

.feather {
    height: 19px;
}
